{
    "rules": [
        {
            "rulePriority": 1,
            "description": "Keep last ${count} images",
            "selection": {
                "tagStatus": "any",
                "countType": "imageCountMoreThan",
                "countNumber": ${count}
            },
            "action": {
                "type": "expire"
            }
        }
    ]
}